<div class="col-sm-6">
	<form role="form" class="form-horizontal">
	 	<h2> Iniciar sesión </h2>
		
		<alert type="info" ng-show="vm.showInfoAlert" close="vm.hideAlert()">
			{{ vm.error }}
		</alert>
		
        <div class="form-group">
            <label class="col-sm-3 control-label">User</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="User" ng-model="vm.username" />
            </div>
        </div>
		
		<div class="form-group">
            <label class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" placeholder="Password" ng-model="vm.password" />
            </div>
        </div>
		
		<button type="submit" class="btn btn-success" ng-click="vm.doLogin()">Iniciar sesión</button>
	</form>
</div>